<!DOCTYPE HTML>
<head>
    <title>Posts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="post">
        <input type="text" name="text" placeholder="Enter text">
        <input type="text" name="tag" placeholder="Enter tag">
        <button type="submit">Add</button>
    </form>
    {{#posts}}
        <div>
            <p>Text: {{text}}</p>
            <p>Tag: {{tag}}</p>
            <p>Id: {{id}}</p>
        </div>
    {{/posts}}
</body>